.link {
  min-width: 108px;
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: var(--size-s);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-base);
  color: var(--color-neutral-0);
  font-size: var(--size-m);
  text-decoration: none;
  width: 100%;
  padding: var(--size-s);
  background-color: var(--color-neutral-800);
}
