.fullfiled {
  display: flex;
  align-items: center;
  gap: var(--size-2xl);
  flex-direction: column;

  & .heading {
    display: flex;
    gap: var(--size-m);
    flex-direction: column;
    text-align: center;

    & h2 {
      margin: 0;
      font-weight: var(--font-weight-bold);
      font-size: var(--size-l);
      line-height: 1.35;
    }

    & span {
      font-size: var(--size-2ml);
      line-height: 1.32;
    }
  }
}
